{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <div class="aximo-hero-section dark-bg">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-8">
                    <div class="aximo-hero-content">
                        <h1>
              <span class="aximo-title-animation">
                Let's get your <img src="{% static 'assets/images/v1/star.png' %}" alt="">
              </span>
                            function to the Junction of fun!
                        </h1>
                        <p>Let Function Junction handle the hassle, you handle the smiles. We're the event planners who
                            make every celebration effortless and extraordinary.</p>
                        {#                                                <div class="aximo-hero-user-wrap">#}
                        {#                                                    <div class="aximo-hero-user-thumb">#}
                        {#                                                        <div class="aximo-hero-user-thumb-item wow fadeInUpX" data-wow-delay="0s">#}
                        {#                                                            <img src="{% static 'assets/images/v1/user1.png' %}" alt="">#}
                        {#                                                        </div>#}
                        {#                                                        <div class="aximo-hero-user-thumb-item wow fadeInUpX" data-wow-delay="0.25s">#}
                        {#                                                            <img src="{% static 'assets/images/v1/user3.png' %}" alt="">#}
                        {#                                                        </div>#}
                        {#                                                        <div class="aximo-hero-user-thumb-item wow fadeInUpX" data-wow-delay="0.4s">#}
                        {#                                                            <img src="{% static 'assets/images/v1/user2.png' %}" alt="">#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="aximo-hero-user-data">#}
                        {#                                                        <p>Believed by more than a thousand people</p>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        <a class="aximo-call-btn" href="#contact-us">Book a free consultation <i
                                class="icon-call"></i></a>
                        <div class="aximo-hero-shape">
                            <img src="{% static 'assets/images/v1/shape1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="aximo-hero-thumb wow fadeInRight" data-wow-delay="0s">
                        <img src="{% static 'assets/images/home/home.webp' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section -->
    <div class="aximo-auto-slider-section">
        <div class="swiper aximo-auto-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    <div id="about-us" style="border-radius: 1%" class="aximo-about-section bg-orange extra-side-margin">#}
    {#        <div id="aximo-counter"></div>#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-lg-5">#}
    {#                    <div class="aximo-thumb" id="rotatetwo">#}
    {#                        <img src="{% static 'assets/images/v2/thumb.png' %}" alt="">#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-7">#}
    {#                    <div class="aximo-default-content clash-grotesk">#}
    {#                        <h2>We help empower visionary founders</h2>#}
    {#                        <p>We provide comprehensive support, guidance to early stage startups & entrepreneurs. Our#}
    {#                            mission is to help transform breakthrough ideas into successful and sustainable#}
    {#                            businesses.</p>#}
    {#                    </div>#}
    {#                    <div class="aximo-counter-wrap2">#}
    {#                        <div class="aximo-counter-data2">#}
    {#                            <h2><span data-percentage="35" class="aximo-counter"></span>+</h2>#}
    {#                            <p>Years of experience</p>#}
    {#                        </div>#}
    {#                        <div class="aximo-counter-data2">#}
    {#                            <h2><span data-percentage="84" class="aximo-counter"></span>k</h2>#}
    {#                            <p>Active monthly users</p>#}
    {#                        </div>#}
    {#                        <div class="aximo-counter-data2">#}
    {#                            <h2><span data-percentage="20" class="aximo-counter"></span>k</h2>#}
    {#                            <p>Project completed</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    <div class="section aximo-section-padding">
        <div id="aximo-counter"></div>
        <div class="container">
            <div class="aximo-section-title">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>
              <span class="aximo-title-animation">
                We make your
                <span class="aximo-title-icon">
                  <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                </span>
              </span>
                            events stand out
                        </h2>
                    </div>
                    <div class="col-lg-4 offset-lg-1 d-flex align-items-center">
                        <p>Dreamers, planners, party makers. Welcome to Function Junction!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="aximo-video-wrap wow fadeInUpX" data-wow-delay="0s">
                        <img src="{% static 'assets/images/home/about.webp' %}" alt="">
                        <a class="aximo-video-popup play-btn1 video-init"
                                {#                           href="https://www.youtube.com/watch?v=Vx2aLNgGoAE"#}
                        >
                            <img src="{% static 'assets/images/v1/play-btn.svg' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="aximo-counter-wrap">
                        <div class="aximo-counter-data">
                            <h2 class="aximo-counter-number"><span data-percentage="2" class="aximo-counter"></span>+
                            </h2>
                            <p>Years of experience</p>
                        </div>
                        <div class="aximo-counter-data">
                            <h2 class="aximo-counter-number"><span data-percentage="100" class="aximo-counter"></span>+
                            </h2>
                            <p>Successful projects</p>
                        </div>
                        <div class="aximo-counter-data">
                            <h2 class="aximo-counter-number"><span data-percentage="100" class="aximo-counter"></span>%
                            </h2>
                            <p>Client satisfaction rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aximo-auto-text-slider-section">
        <div class="swiper aximo-auto-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Birthday Party</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Corporate Events</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Wedding Planner</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Photo Shoots</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Event Planners</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Decor </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3># Venue</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End section -->
    {% include 'home/gallery.html' %}
    <!-- End section -->
    {% include 'home/services.html' %}


    <div class="section aximo-section-padding3">
        <div class="container">
            <div class="aximo-section-title center">
                <h2>
                    Clients are always
                    <span class="aximo-title-animation">
            satisfied with us
            <span class="aximo-title-icon">
              <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
            </span>
          </span>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.1s">
                        <div class="aximo-testimonial-rating">
                            <ul>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                            </ul>
                        </div>
                        <div class="aximo-testimonial-data">
                            <h3>Excellent!</h3>
                            <p>Excellent decoration and ambience created by Function Junction. We appreciate all the
                                efforts undertake</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.2s">
                        <div class="aximo-testimonial-rating">
                            <ul>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                            </ul>
                        </div>
                        <div class="aximo-testimonial-data">
                            <h3>Exceptional creativity and vision</h3>
                            <p>We recently partnered with Function Junction for our Corporate Event, and it was a
                                resounding success! Their decoration was particularly impressive. The entire team was
                                very supportive, and we're already planning our next event with them!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section -->

    <div style="border-radius: 0%" class="aximo-brandlogo-section ">
        <div class="swiper aximo-auto-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_6.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_7.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_1.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_2.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_4.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_5.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_6.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_7.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_1.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_2.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_4.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_5.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_6.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-brandlogo-item">
                        <img src="{% static 'assets/images/v2/b_7.png' %}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="aximo-auto-slider-section">
        <div class="swiper aximo-auto-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="aximo-auto-slider-item">
                        <h3>Let's create new experiences</h3>
                        <img src="{% static 'assets/images/v1/star3.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section -->

{% endblock %}